body
{
    color: #666666;
    background: #fff;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}
.container {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.login
{
	text-align: right;
}

#yt_logo {
    text-align: center;
    padding-top: 0;
}

.col-md-6 hidden-xs
{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#logotext {
    text-align: left;
    color: #000;
    padding: 34px 0 0;
    line-height: 13px;
    font-size: 9px;
    text-transform: uppercase;
}

p
{ 
line-height: 1em; 
}

h1, h2, h3, h4{
    color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1
{ 
font-size: 1.7em; 
}
h2
{ 
font-size: 1.5em; 
}
a{
	color: black;
	text-decoration: none;
}
a:hover, a:active
{ 
text-decoration: underline; 
}


body{
    	font-family: arial; 
	font-size: 80%; 
	line-height: 1.2em; 
	width: 100%; 
	margin: 0; 
	background: #eee;
}

#page
{ 
margin: 20px; 
}

#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}

#nav{
	width: 60%;
	text-align: left;
}
.ul{}
		#nav .ul li{
			display: inline-block;
			height: 62px;
			font-size:18px;
			}
		#nav .ul li a{
			padding: 20px;
			background: orange;
			color: white;
			}
		#nav .ul li a:hover{
			background-color: #ffb424;
			box-shadow: 0px 1px 1px #666;
			}
		#nav .ul li a:active{ 
			background-color: #ff8f00; 
			}

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}


#content, ul li a
{ 
box-shadow: 0px 1px 1px #999; 
}
div.ab{
	font-family: Times New Roman;
	font-size: 18px;
	line-height: 1.5;
        font-weight: bold;
}

#map {
        height: 400px;
        width: 100%;
       }
*{	font-family: Times New Roman;
	background:images/images.jpg;}
	
div.box {
    width: 800px;
    border: 5px solid;
    padding: 25px;
    
    font-size: 18px;
    font-family: Times New Roman;
    shadow
}
